.sideContainer {
    display: flex;
    flex-direction: column;
    padding-top: 95px;
    @media screen and (max-width: 425px) {
        gap: 20px;
    }
    @media screen and (max-width: 768px) and (min-width: 426px) {
        gap: 20px;
    }
}

.sideContainer h5 {
    color: #213F7D;
    font-weight: 700;
    padding-left: 25px;
    @media screen and (max-width: 425px) {
        display: none;
    }
    @media screen and (max-width: 768px) and (min-width: 426px) {
        display: none;
    }
}

.switch {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 25px;
}

.switch h4 {
    color: #213F7D;
    font-weight: 600;
    @media screen and (max-width: 425px) {
        display: none;
    }
    @media screen and (max-width: 768px) and (min-width: 426px) {
        display: none;
    }
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding-left: 25px;
    gap: 8px;
}

.sidebar-item:hover {
   background-color: #39CDCC;
   cursor: pointer;
}

.sidebar-item h4 {
    color: #213F7D;
    font-weight: 400;
    @media screen and (max-width: 425px) {
        display: none;
    }
    @media screen and (max-width: 768px) and (min-width: 426px) {
        display: none;
    }
}

.sidebar-icon {
    color: #213F7D;
}